<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>WikiFlask</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/d3.v2.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

  </head>
  <body>

    <h1>WikiFlask</h1>

    <div id="main">
      <label>From</label>
      <select id = "from_text">
        {% for word in Words["from"] %}
        {% if word == "2001" %}
        <option value="{{word}}" selected="selected">{{word}}</option>
        {% else %}
        <option value="{{word}}">{{word}}</option>
        {% endif %}    
        {% endfor %}
      </select>
      <br>
      <label>To</label>
      <select id = "to_text">
        {% for word in Words["to"] %}
        {% if word == "Monaco" %}
        <option value="{{word}}" selected="selected">{{word}}</option>
        {% else %}
        <option value="{{word}}">{{word}}</option>
        {% endif %}
        {% endfor %}
      </select>
      </br>
      <button onclick="search()" id = "search">Click me!</button>
      <p id="searching" style="visibility:hidden">Searching...</p>
    </div>

    <script src="/static/script.js"></script>


  </body>
</html>
